<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="shortcut icon"
    href="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/128/Folders-OS-Windows-8-Metro-icon.png"
    type="image/x-icon">

  <title>Login - Passport JS</title>
</head>

<body>

  <div class="center-content">
    <h1 class="margin text-white">Login </h1>

    <div class="alert-danger">
      <% if (messages.error) { %>
      <%= messages.error %>
      <% } %>
    </div>

    <form action="/login" method="POST" class="margin">
      <div class="form-group">
        <input type="text" name="username" placeholder="Enter Username" id="username" required>
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" id="password" required>
      </div>
      <div class="form-group">
        <label for=""></label>
        <input type="submit" value="Login" class="btn" />
      </div>
    </form>

    <div class="margin">
      <a href="/register" class="btn">Register</a>
    </div>
    <div class="margin">
      <a href="/" class="btn">Home Page</a>
    </div>
  </div>

</body>

</html>